<dialog>
    <div class="dlg-acc-top">
        <p> </p>
        <button id="dlg-close">x</button>
    </div>
    <div class="dlg-acc-cont">
        <div class="profile-pic"></div>
        <div class="acc-info-cont">
            <div class="acc-info-row">
                <h4 class="type-info">Username: </h4>
                <h4 id="dlg-acc-username" class="info"></h4>
            </div>
            <div class="acc-info-row">
                <h4 class="type-info">Email: </h4>
                <h4 id="dlg-acc-email" class="info"></h4>
            </div>
            <div class="acc-info-row">
                <h4 class="type-info">Number of Recipes: </h4>
                <h4 id="dlg-acc-recipes" class="info"></h4>
            </div>
        </div>
    </div>
</dialog>