<dialog>
    <div id="dlg-top-cred">
        <p> </p>
        <button id="dlg-close">x</button>
    </div>
    <div id="dlg-main-cred">
        <div>
            <h2 id="dlg-login">Hello Again Cook</h2>
        </div>
        <div>
            <h4>Username or Email</h4>
            <input id="dlg-user" type="text" placeholder="mclovin@gmail.com">
        </div>
        <div>
            <h4>Password</h4>
            <input id="dlg-password" type="password" placeholder="Super Secret Password">
        </div>
        <button id="dlg-submit" type="button">Login</button>
    </div>
</dialog>