<div id="recipe-cont">
    <div class="edge"></div>
    <main>
        <div class="name-cont">
            <h1 id="name"></h1>
        </div>
        <div class="content-cont">
            <div class="part-cont">
                <img src="" alt="Recipe Image" id="image">
            </div>
            <div class="part-cont">
                <h3>Ingredients:</h3>
                <ul id="ingredients"></ul>
            </div>
            <div class="part-cont">
                <h3>Procedures:</h3>
                <ol id="procedures"></ol>
            </div>
            <div class="part-cont footer">
                <button id="expand-btn">Show More</button>
                <span id="creator">XXX's Recipe</span>
            </div>
        </div>
    </main>
    <div class="edge"></div>
</div>