<div id="recipe-cont">
    <svg id="bookmark" viewBox="0 0 22 30" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 0H4C1.791 0 0 1.791 0 4v22c0 2.209 1.791 4 4 4l7-7 7 7c2.209 0 4-1.791 4-4V4c0-2.209-1.791-4-4-4z"/>
    </svg>
    <div class="edge e-left"></div>
    <main>
        <div class="name-cont">
            <h1 id="name"></h1>
        </div>
        <div class="content-cont">
            <div class="part-cont" id="image">
                <img alt="Recipe Image">
            </div>
            <div class="part-cont">
                <h3>Ingredients:</h3>
                <ul id="ingredients"></ul>
            </div>
            <div class="part-cont">
                <h3>Procedures:</h3>
                <ol id="procedures"></ol>
            </div>
        </div>
        <div class="part-cont footer">
            <button id="expand-btn">Show More</button>
            <span id="creator">XXX's Recipe</span>
        </div>
    </main>
    <div class="edge e-right"></div>
</div>