<dialog>
    <div id="dlg-top-cred">
        <p> </p>
        <button id="dlg-close">x</button>
    </div>
    <div id="dlg-main-cred">
        <div>
            <h2 id="dlg-create-account">Welcome to the Kitchen</h2>
            <p id="dlg-response"></p>
        </div>
        <div>
            <h4>Username</h4>
            <input type="text" id="dlg-username" placeholder="BurningMan28">
            <p id="dlg-username-response"></p>
        </div>
        <div>
            <h4>Email</h4>
            <input type="email" id="dlg-email" placeholder="guyfieri@gmail.com">
            <p id="dlg-email-response"></p>
        </div>
        <div>
            <h4>Password</h4>
            <input type="password" id="dlg-password" placeholder="Super Secret Password">
            <p id="dlg-password-response"></p>
        </div>
        <button type="button" id="dlg-submit">Create Account</button>
    </div>
</dialog>
