<div>
    <div>

    </div>
    <div class="credentials">
        <button id="dlg-close">x</button>
        <div>
            <h4>Username</h4>
            <input type="text" id="dlg-username">
        </div>
        <div>
            <h4>Email</h4>
            <input type="email" id="dlg-email">
        </div>
        <div>
            <h4>Password</h4>
            <input type="password" id="dlg-password">
        </div>
        <button type="button" id="dlg-submit">Create Account</button>
    </div>
</div>