<div class="filter-cont">
    <div class="inside-cont">
        <div class="section-filter">
            <button id="breakfast">Breakfast</button>
            <button id="lunch">Lunch</button>
            <button id="dinner">Dinner</button>
        </div>
        <div class="section-filter meal-types">
            <div>
                <button id="pasta">Pasta</button>
                <button id="salad">Salad</button>
                <button id="protien">Protien</button>
            </div>
            <div>
                <button id="side">Side</button>
                <button id="snack">Snack</button>
                <button id="food">Food</button>
            </div>
        </div>
        <div class="section-filter">
            <button id="bookmarked">Bookmarked</button>
        </div>
    </div>
</div>