.north-cont{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    align-items: center;
    background-color: transparent;
}

.title-explore{
    font-family: var(--font-heading);
    font-size: clamp(1.7rem, 4vw, 3rem);
    margin: 0;
    color: var(--accent);
}

.search-items-cont{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
}

.search-bar{
    border: 0.2rem solid var(--accent);
    border-radius: 1.5rem;
    background-color: var(--tan);
    padding: 0.3rem;
    align-items: center;
}

#search-bar-input{
    all: unset;
    background-color: transparent;
    color: var(--background);
    cursor: text;
    font-size: large;
    font-weight: 600;
    line-height: 1.2;
    width: 700px;
    max-width: 700px;
    margin-left: 1.9rem;
}

#search-btn{
    background-color: var(--accent);
    border-radius: 50%;
    padding: 0.3rem;
}

.search-optimize{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative
}

.modify-popup{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    max-width: 475px;
    width: fit-content;
    transition: opacity 200ms ease, visibility 400ms ease;
}
.modify-popup.opened{
    opacity: 1;
    visibility: visible;
}
sort-popup.modify-popup{
    top: 0px;
    left: 5rem;
}
filter-popup.modify-popup{
    top: 0px;
    right: 5rem;
}

.search-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1.9rem;
}

#search-area-cont{
    display: grid;
    gap: 1.3rem;
    margin: 1.9rem;
    width: 100%;
}

.search-area{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
}