main{
    display: block;
    gap: 1.3rem;
}

#hero-section{
    width: 100%;
    height: 90vh;
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, var(--background) 100%),
        url(../../assets/images/hero-page-bg.jpg);
    background-size: cover;
    /*
    border-bottom: 4px solid var(--accent);
    border-radius: 8px;
    */
}

.hero-image{
    height: 40vh;
    width: auto;
    display: grid;
    border: 0.2rem solid var(--accent);
    border-radius: 1.5rem;
    margin: 0.7rem;
    transition: transform 400ms ease, scale 400ms ease;
    overflow: hidden;
}
.hero-image:hover{
    scale: 1.05;
    transform: translateY(-4px);
}
.hero-image:hover .hero-image-description{
    transform: translateY(0);
    opacity: 1;
}
.hero-image-description{
    grid-area: 1 / 1;
    z-index: 11;
    opacity: 0;
    overflow-y: auto;
    min-height: 0;
    max-width: 40vh;
    justify-items: left;
    gap: 5px;
    padding: 8px;
    background-color: color-mix(in srgb, transparent 5%, var(--accent));
    transform: translateY(40vh);
    transition: transform 400ms ease-out, opacity 200ms ease-in;
}
.hero-image-description h2, 
.hero-image-description h4,
.hero-image-description ol,
.hero-image-description ul,
.hero-image-description p{
    color: var(--background);
    margin: 0.3rem;
}
.hero-image-description h2{
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
}
.hero-image-description h4{
    font-size: 1.6rem;
    font-weight: 700;
}
.hero-image img{
    grid-area: 1 / 1;
    z-index: 10;
    width: auto;
    height: 40vh;
}

.hero-section-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-section-area #hero-expandable{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    overflow: hidden;
    transition: transform 400ms ease;
}
.hero-section-area #hero-expandable button{
    all: unset;
    background: transparent;
    border: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    transition: scale 200ms ease;
}
.hero-section-area #hero-expandable button:hover{
    scale: 1.05;
}
.hero-section-area #hero-expandable button svg{
    grid-area:  1 / 1;
    stroke: var(--tan);
    width: auto;
    height: 5rem;
    opacity: 0;
    transition: 400ms opacity ease, stroke 200ms ease;
}
.hero-section-area #hero-expandable button:hover svg{
    stroke: var(--accent);
}
.hero-section-area #hero-expandable .current{
    opacity: 1;
}

.hero-section-area #hero-expandable div{
    width: 80%;
    justify-self: left;
    justify-items: left;
    align-items: center;
    opacity: 0;
    transition: 400ms opacity ease;
}

.hero-section-area #hero-expandable div p{
    justify-content: left;
} 
.hero-section-area #hero-expandable div p span{
    color: var(--accent);
    font-weight: 700;
}

.hero-text{
    text-align: left;
    gap: 0.7rem;
    max-width: 70vw;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1.8rem;
}
.hero-text h1{
    all: unset;
    font-family: var(--font-heading);
    font-size: 10vh;
    font-weight: 900;
    line-height: 1.2;
    color: var(--accent);
}
.hero-text p{
    all: unset;
    font-family: var(--font-body);
    color: var(--text);
    font-size: 1.7rem;
    font-weight: 500;
}
.hero-text span{
    all: unset;
    font-family: var(--font-heading);
    color: var(--accent);
    font-weight: 700;
    font-size: 1.7rem;
}
.hero-text button{
    font-size: larger;
}

.hero-image-cont{
    display: flex;
    flex-direction: row;
}

#about-section{
    width: 100%;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    overflow: hidden;
    margin: 0.3rem;
}

.about-about{
    all: unset;
    margin: 0px;
    grid-area: 1 / 1;
    font-family: var(--font-heading);
    font-size: 18vh;
    font-weight: 600;
    line-height: 0.6;
    letter-spacing: -0.15em;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 10;
}

.about-cont-1{
    grid-area: 1 / 1;
    display: grid;
    overflow: hidden;
}
.about-cont-1 h1{
    color: var(--background);
    margin-left: 95%;
}
.about-cont-1 img{
    grid-area: 1 / 1;
    overflow: hidden;
    width: auto;
    height: 100%;
    justify-self: right;
}

.about-cont-2{
    grid-area: 1 / 2;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
}
.about-cont-2 h1{
    color: var(--accent);
    margin-left: -5%;
}

.about-cont-about{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    overflow: auto;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.about svg{
    color: var(--accent);
    fill: var(--accent);
    width: 50px;
    height: auto;
}
.about h4{
    color: var(--accent);
    font-size: 1.5rem;
}
.about p{
    justify-content: center;
    text-align: center ;
}

#popular-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8rem 1.8rem 1.8rem 1.8rem;
    overflow-x: hidden;
    border: 4px solid var(--accent);
    border-radius: 4rem;
}
#popular-section h3{
    all: unset;
    text-align: center;
    font-family: var(--font-heading);
    font-size: 8vh;
    font-weight: 900;
    line-height: 1.2;
    padding: 40px;
    color: var(--tan);
    background-color: var(--accent);
    transition: color 400ms ease;
}
#popular-section:hover h3{
    color: var(--background);
}

#popular-recipes{
    display: grid;
    max-height: 130vh;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    gap: 1.3rem;
    width: 100%;
}

.popular-area{
    display: flex;
    height: fit-content;
    flex-direction: column;
    overflow-x: visible;
    gap: 1.3rem;
    align-items: center;
    will-change: transform;
    margin-top: 1.3rem;
}

#action-section{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
    margin: 2.5rem;
    padding: 2.5rem;
    background-image: 
        linear-gradient(to top, rgba(255, 255, 255, 0) 60%, var(--background) 100%),
        url(../../assets/images/hero-page-bg.jpg);
    background-size: cover;
}

#action-section button{
    all: unset;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 1.3rem 3.8rem;
    background-color: var(--accent);
    border: 0.2rem solid var(--tan);
    border-radius: 2rem;
    transition: scale 200ms ease-in, transform 200ms ease-in;
}
#action-section button:hover{
    scale: 1.05;
    transform: translateY(-10px);
}
#action-section button div{
    display: flex;
    flex-direction: column;
    min-width: 0;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
}
#action-section button div svg{
    height: auto;
    width: 150px;
    max-width: 100%;
    fill: var(--tan);
    justify-self: center;
    transition: fill 400ms ease;
}
#action-section button:hover div svg{
    fill: var(--background);
}
#action-section button div h2{
    color: var(--background);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}
#action-section button div p{
    color: var(--tan);
    transition: color 400ms ease;
}
#action-section button:hover div p{
    color: var(--background);
}

footer{
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 100%;
    justify-items: center;
    align-items: center;
    padding: 2.5rem;
}

footer h2{
    color: var(--tan);
    font-size: 1.8rem;
    font-weight: 700;
    width: 100%;
    text-align: center;
    justify-self: center;
    align-self: center;
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

footer div .social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
    align-items: center;
}
footer div .social-media a{
    transition: scale 200ms ease;
}
footer div .social-media a:hover{
    scale: 1.05;
}
footer div .social-media a svg{
    fill: var(--tan);
    height: 8rem;
    width: auto;
    transition: fill 400ms ease;
}
footer div .social-media a:hover svg{
    fill: var(--background);
}